*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
} 
body{
  background-color: #ccddff;
}
.container{
  background-color: rgb(7,2,71);
  justify-content: center;
  width: 50%;
  margin-left: 26%;
  margin-top: 5%;
  text-align: center;
  padding: 20px;
}
.inputfield{
  width: 80%;
  padding: 12px 20px;
  margin: 30px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-weight: bold;
}
button{
  width: 80px;
  background-color: green;
  color: black;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
}
.header{
  width: 100%;
  padding: 12px 20px;
  color: white;
  font-size: 50px;
}
.listData{
color: black;
background-color: rgb(164, 203, 237);
text-align: left;
padding-left: 15px;
width: 75%;
padding-bottom: 15px;
padding-top: 12px;
margin-left: 30px;
border-radius: 8px;
}
.btn_remove{
  position: relative;
  left: 40%;
  text-align: center;
  top: -47px;
  width: 80px;
}
.btnremoveall{
  width: 140px;
  font-weight: bold;
}